version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_tour_planner_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tour_planner
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_tour_planner
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
